/* 
    Created on : Mar 23, 2016, 3:35:16 PM
    Author     : Jacob
*/

.silver {
    font-size:15px;
    width:500px;
    height:120px;
    background-color:lightgray;
    color:black;
}

.theBlue {
    color:#337ab7;
    text-align:center;
}

.wrap {
    white-space: normal;
}

.price {
    font-weight:bold;
    color:green;
}

.left {
    float:left;
}
.center {
    text-align:center;
}

